footer {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  position: absolute;
  bottom: -3vw;

}

footer h1 {
  font-family: mainFont;
}
